
.checkbox {
  width: 2rem;
  margin-right: 1rem;
}

.taskholder {
  border-radius: 12px;
  background-color: aliceblue;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  place-self: center;
  width: 60%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.taskholderrow {
  display: flex;
}

.selected {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: large;
  cursor: text;
  display: flex;
}

.taskform {
  background-color: aliceblue;
  margin: none;
  padding-top: none;
  padding-bottom: none;
  display: inline-flex;
  width: 100%;
}

.taskform input {
  font-family: Verdana;
  font-weight: 500;
  width: 10rem;
  padding: none;
  margin-left: 1rem;
  margin-right: 2rem;
  border-radius: 5px;
}

.errortext {
  padding-top: 1rem;
  font-weight: bold;
}
