.taskcreator {
  background-color: aliceblue;
  border-radius: 12px;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 60%;
  place-self: center;
}

.taskcreatorrow {
  display: flex;
}

.taskcreator .text {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  font-family: sans-serif;
  font-weight: bold; 
  font-size: large;
  background-color: rgb(255, 99, 99);
}

.taskcreatorrow input {
  display: flex;
  flex: 1;
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
  margin-left: 2rem;
  border-bottom: 1px solid;
}

.taskcreatorrow button {
  width: 5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  background-color: rgb(152, 228, 228);
  border-radius: 5px;
}

.taskcreatorrow button:hover {
  width: 5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  background-color: rgb(118, 250, 250);
  cursor: pointer;
}

.taskcreatorrow button:active {
  width: 5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  background-color: rgb(114, 149, 253);
  cursor: pointer;
}

.errortext {
  font-weight: bold;
}