@import "tailwindcss";

body {
  background-color: rgb(60, 60, 60);
  text-align: center;
  font-family: Verdana;
  font-size: 1rem;
  color: rgb(24, 24, 24);
}

.main-container {
  background-color: rgb(218, 223, 228);
  min-height: 40rem;
  width: 100%;
}

.selection-holder{
  display: inline-flex;
  font-size: 2rem;
  width: 80%;
}

.selection-holder p {
  width: 100%;
  cursor: pointer;
}

.selection-holder p:hover {
  width: 100%;
  cursor: pointer;
  text-decoration:underline;
}

.selected {
  width: 100%;
  cursor: pointer;
  text-decoration:underline;
}

.task-holder {
  border-radius: 12px;
  background-color:aliceblue;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-flex;
  width: 80%;
  
}

.task-holder p {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
}

.task-holder .checkbox {
  width: 2rem;
  margin-left: 2rem;

}

.task-holder input {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
}

.task-holder .selected {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
  background-color: rgb(174, 178, 255);
  cursor: text;
}

.task-holder button {
  
  width: 10rem;
  margin-left: 1rem;
  margin-right: 2rem;
  background-color: rgb(152, 228, 228);
  border-radius: 5px;
}

.task-holder button:hover {
  
  width: 10rem;
  margin-left: 1rem;
  margin-right: 2rem;
  background-color:rgb(118, 250, 250);
  cursor: pointer;
}

.task-holder button:active {
  
  width: 10rem;
  margin-left: 1rem;
  margin-right: 2rem;
  background-color:rgb(114, 149, 253);
  cursor: pointer;
}

.task-creator {
  background-color:aliceblue;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-flex;
  width: 80%;
}

.task-creator .input {
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  font-family: sans-serif;
  font-weight: bold;
  font-size: large;
  margin-left: 2rem;
  border-bottom: 1px solid;
}

.task-creator .button {
  width: 5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  background-color:rgb(152, 228, 228);
  border-radius: 5px;
}

.task-creator .button:hover {
  width: 5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  background-color:rgb(118, 250, 250);
  cursor: pointer;
}

.task-creator .button:active {
  width: 5rem;
  margin-left: 1rem;
  margin-right: 2rem;
  background-color:rgb(114, 149, 253);
  cursor: pointer;
}